.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 650px;
    padding: 0 80px;
}

.form img{
    padding: 0 100px;
}

.form h1{
    font-family: 'Giga Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 128%;
    color: #000000;
    text-align: center;
}

.form button{
    font-family: 'Inter';
    width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    border: none;
    text-decoration: none; 
    user-select: none; 
    background: #F42E30;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
}

.form input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    opacity: 0.9;
    padding-left: 24px;
    color: #352F2F;
    background: #EEEFF2;
    border-radius: 16px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
}
