.page{
    background: #EEEFF2;
    height: 100%;
}

.container{
    width: 90vw;
    margin: 0 auto;
    padding: 50px 0;
}

.chart{
    display: flex;
    gap: 65px;
}

.table{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
