.modileHeader{  
    height: 85px;
    background: #FFFFFF;
}

.modileBtn{
    background-image: url(/public/img/ElementAdmin.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.modileBtn button{
    background: none;
    border: none;
    outline: none;
    padding: 30px 20px;
}

.modileContainer{
    padding-top: 24px;
    display: flex;
}

.modileLogo{
    width: 200px;
    margin: 0 auto;
}

.b{
    background-color: #EEEFF2;
    height: 10px;
    margin-top: -38px;
}

.menu {
    width: 100%у;
    height: 89vh;
    background: #EEEFF2;
    position: absolute;
    overflow: hidden;
}
  
